# Practice Problems: Easy 2

## Question 1
Write two distinct ways of reversing the list without mutating the original list.

In [12]:
numbers = [1, 2, 3, 4, 5] 

reversed_numbers = numbers.copy()
reversed_numbers.reverse()
print(reversed_numbers)
print(numbers)

new_list = numbers[::-1]

print(new_list)
print(numbers)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

## Question 2
Given a number and a list, determine whether the number is included in the list.

In [13]:
numbers = [1, 2, 3, 4, 5, 15, 16, 17, 95, 96, 99]

number1 = 8  # False (not in numbers)
number2 = 95 # True (in numbers)

print((number1 in numbers) == True)
print((number2 in numbers) == True)

False
True

## Question 3
Programmatically determine whether 42 lies between 10 and 100, inclusive. Do the same for the values 100 and 101.

In [15]:
a = 42
b = 100
c = 101

lst = [a, b, c]

for item in lst:
    print(f'Is {item} between 10 and 100, inclusive? {item in range(10, 101)}.')

Is 42 between 10 and 100, inclusive? True.
Is 100 between 10 and 100, inclusive? True.
Is 101 between 10 and 100, inclusive? False.

## Question 4
Given a list of numbers [1, 2, 3, 4, 5], mutate the list by removing the number at index 2, so that the list becomes [1, 2, 4, 5].

In [16]:
lst = [1, 2, 3, 4, 5]
del lst[2]

print(lst)

[1, 2, 4, 5]

## Question 5
How would you verify whether the data structures assigned to the variables numbers and table are of type list?

In [17]:
numbers = [1, 2, 3, 4]
table = {'field1': 1, 'field2': 2, 'field3': 3, 'field4': 4}

print(type(numbers) == list)
print(type(table) == list)

True
False

In [19]:
# This is the preferred solution, as type(x) may have issues:

print(isinstance(numbers, list) == True)
print(isinstance(table, list) == True)

True
False

## Question 6
Back in the stone age (before CSS), we used spaces to align things on the screen. If we have a 40-character wide table of Flintstone family members, how can we center the following title above the table with spaces?

In [24]:
title = "Flintstone Family Members"
centered_title = '|' + ((20 - (len(title) // 2 )) * " ") + title + ((20 - (len(title) // 2)) * " ") + '|'
print(centered_title)

|        Flintstone Family Members        |

In [25]:
# Hahaha - there's a str.center()
centered_title = title.center(40)
print(f'| {centered_title} |')

|        Flintstone Family Members         |

## Question 7
Write a one-liner to count the number of lower-case t characters in each of the following strings:

In [34]:
statement1 = "The Flintstones Rock!"
statement2 = "Easy come, easy go."

print((statement1 + statement2).count('t'))
print(statement1.count('t'))
print(statement2.count('t'))

2
2
0

## Question 8
Determine whether the following dictionary of people and their age contains an entry for 'Spot':

In [43]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}
if "Spot" in ages:
    print(ages["Spot"])

## Question 9
We have most of the Munster family in our ages dictionary; Add entries for Marilyn and Spot to the dictionary:

In [44]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}

additional_ages = {'Marilyn': 22, 'Spot': 237}
for k in additional_ages:
    ages[k] = additional_ages[k]

print(ages)
# Suggested solution is better than mine, haha:
ages.update(additional_ages)

{'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10, 'Marilyn': 22, 'Spot': 237}